/* Jag använder column för att det ska vara enklare att dela olika div
 Med row classen menar jag att allt i den diven ska ligga i rad horisontellt*/



body{
     overflow-x: hidden;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
.row {
    display:flex;  /* Flex allt innuti containern och det ska vara en horisontell row*/
    flex-direction: row;
    width: 100%;
}

.container{
    display: block;
    padding:10px;
}

.col1{                      /*mest för navigation och är ett par med col5 som är lika lång */
    width: calc(100%/6);  /* den här kolumnen tar en sjätte dels plats. col2 tar 2/6 osv. istället för att skriva 16,66666666 är det enklare att använde den inbyggda kalkylatorn calc för att beräkna det exakt.*/
    height:40vh;
}
.col2{
    width: calc(200%/6); 
    height:60vh;
}
.col3{
    width: calc(100%/2); /* här förenklade jag bara från 3/6 till 1/2 */
}
.col4{
    width: calc(200%/3);
    height:60vh;
}
.col5{
    width: calc(500%/6);
    height:40vh;
}
.col6{
    width: 100%; /* den sista är då en som tar 6/6 delar av bredden*/
    
}
img{
    width: 100%;
    height: auto;
}
footer{
    margin-top: 0em;
    padding:20px;
}
/* det här är en css fil jag kan använda i alla mina sidor. färger och längder på tex columnerna kan variera så jag kan fixa de i en annan css fil*/

