*{
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
header{
    background-image: url(bild-2.jpg);
    text-align: center;
}

h3{
    color: rgb(54, 11, 63);
    
}

a{
    text-decoration: none;
    padding: 10px;
    
}
