
*{
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0em;
    
}
h1{
    text-align: center;
}
header{
    height: 40vh;
}
main{
    height: 80vh;
}
footer{
    height: 20vh;
}

/*navigation*/
li{
    display: block;
    padding: 10px;
    
}

a{
    text-decoration: none;
    
}